<div class="container-fluid">
  <div class="row justify-content-start flex-nowrap">
    <div class="col-2 pull-down">
      <app-players-list></app-players-list>
    </div>
    <div class="col-2" *ngFor="let event of events">
      <app-event [event]="event"></app-event>
      <div *ngFor="let player of playersChild" class="centered-checkbox">
        <label>
          <!-- <input #attendanceCheckbox (click)="incrementAttendance(event, attendanceCheckbox, player)" type="checkbox" id="blankCheckbox" -->
          <!-- value="option1" aria-label="..."> -->
          <mat-slide-toggle class="example-margin" [color]="color" [checked]="checked" (change)="incrementAttendance($event, event, player)">
          </mat-slide-toggle>
        </label>
      </div>
    </div>
    <app-add-event></app-add-event>
  </div>
</div>