<div class="container-fluid">
  <div class="row justify-content-start">
    <div class="col-2 pull-down">
      <app-players-list></app-players-list>
    </div>
    <app-add-event></app-add-event>
    <div class="col-2" *ngFor="let event of events">
      <app-event [event]="event"></app-event>
      <div *ngFor="let player of playersChild">
        <label>
          <input #attendanceCheckbox (click)="incrementAttendance(event, attendanceCheckbox, player)"
                 type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
        </label>
      </div>
    </div>
  </div>
</div>
