<div class="container-fluid">
  <div class="row justify-content-start flex-nowrap">
    <div class="col-2 pull-down">
      <app-add-event></app-add-event>
      <app-players-list></app-players-list>
    </div>
    <div class="col-2" *ngFor="let teamEvent of teamEvents$ | async">
      <app-event [event]="teamEvent"></app-event>
      <div *ngFor="let player of players$ | async" class="centered-checkbox">
        <label>
          <mat-slide-toggle class="example-margin" [color]="color" [checked]="playerAttending(teamEvent, player)" (change)="changeAttendance($event, teamEvent, player)">
          </mat-slide-toggle>
        </label>
      </div>
    </div>
  </div>
</div>