<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add player</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="playerForm" id="playerForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" id="name" formControlName="name" placeholder="Name">
        <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
          Name is required.
        </div>
      </div>
      <div class="form-group">
        <label for="lastname">Lastname</label>
        <input class="form-control" id="lastname" formControlName="lastname" placeholder="Lastname">
        <div class="alert alert-danger" *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
          Lastname is required.
        </div>
      </div>
      <div class="form-group">
        <label for="jersey">Jersey number
          <br/>
          <select class="custom-select" id="jersey" formControlName="jerseyNumber">
            <option *ngFor="let nr of jerseyValues" [ngValue]="nr">
              {{nr}}
            </option>
          </select>
        </label>
      </div>
      <div class="form-group">
        <label for="gender">Gender
          <br/>
          <select class="custom-select" id="gender" formControlName="gender">
            <option value="1">Man</option>
            <option value="2">Woman</option>
          </select>
        </label>
        <div class="alert alert-danger" *ngIf="gender.invalid && (gender.dirty || gender.touched)">
          Gender is required.
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="addPlayer()" [disabled]="playerForm.invalid">Add</button>
    <button type="button" class="btn btn-outline-danger" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Add player</button>