<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add player</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="playerForm">
      <div class="form-group">
        <label for="nameInput">Name</label>
        <input class="form-control" id="nameInput" formControlName="name" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="nameInput">Lastname</label>
        <input class="form-control" id="lastnameInput" formControlName="lastname" placeholder="Lastname">
      </div>
      <div class="form-group">
        <label for="jerseyInput">Jersey number<br/>
          <select class="custom-select" id="jerseyInput" formControlName="jerseyNumber">
            <option value="1">#1</option>
            <option value="2">#2</option>
            <option value="3">#3</option>
            <option value="4">#4</option>
          </select>
        </label>
      </div>
      <div class="form-group">
        <label for="genderInput" >Gender<br/>
          <select class="custom-select" id="genderInput" formControlName="gender">
            <option value="1">Man</option>
            <option value="2">Woman</option>
          </select>
        </label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="addPlayer()">Add</button>
    <button type="button" class="btn btn-outline-danger" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Add player</button>
