<div class="card">
  <div class="card-block">
    <h3 class="card-title">{{event.title}}</h3>
    <p class="card-text">
      {{event.place}} {{event.price | currency}}
      <br/>{{event.date | date}} {{event.date | date:'shortTime' }}
    </p>
    <a *ngIf="event.facebook" href="{{event.facebook}}" class="btn-sm btn-primary">Facebook event</a>
    <p class="card-text">
      <i class="blue fa fa-mars-stroke"></i> {{event.attendance.man}}
      <i class="red fa fa-venus"></i> {{event.attendance.woman}}
      <i class="gray fa fa-genderless"></i> {{event.attendance.tbd}}
    </p>
  </div>
</div>